$surface-color: #FFFBE6;
$on-surface-color: #29302E;
$primary-color: #356859;
$on-surface-color-12: rgba(41, 48, 46, 0.12);

header.banner {
    background-color: $surface-color;
    min-height: 64px;
    width: 100%;
    padding: 0;
    .banner-content {

    }
    border-bottom: 1px solid $on-surface-color-12;
}