$color-primary: #6750A4;
$color-on-primary: #FFFFFF;
$color-primary-container: #EADDFF;
$color-on-primary-container: #21005D;

$color-secondary: #625B71;
$color-on-secondary: #FFFFFF;
$color-secondary-container: #E8DEF8;
$color-on-secondary-container: #1D192B;

$color-tertiary: #7D5260;
$color-on-tertiary: #FFFFFF;
$color-tertiary-container: #FFD8E4;
$color-on-tertiary-container: #31111D;

$color-error: #B3261E;
$color-on-error: #FFFFFF;
$color-error-container: #F9DEDC;
$color-on-error-container: #410E0B;

$color-background: #FFFBFE;
$color-on-background: #1C1B1F;
$color-background-container: #FFFBFE;
$color-on-background-container: #1C1B1F;

$color-outline: #79747E;
$color-surface-variant: #E7E0EC;
$color-on-surface-variant: #49454F;


body, html {
    padding: 0;
    margin: 0;
}

header.banner {
    background-color: $color-on-primary;
    min-height: 64px;
    width: 100%;
    padding: 0;
    margin: 0;
    .banner__content {
        min-height: 64px;
        display: flex;
        .banner__content__left {

        }
        .banner__content__right {

        }
    }
    border-bottom: 1px solid $color-outline;
}